body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 20px;
}
.header {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #f8f8f8;
    border: 2px solid;
    border-color: #e7e7e7;
    box-shadow: 5px 5px 2px #888888;
}
.header h1 {
    font-size: 60px;
}
#howItWorks {
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}
.content {
    /*border: 1px solid;*/
    
    width: 50%;
    float: left;
}