
<!-- Main component for a primary marketing message or call to action -->
<div class="header">
	<h1>Finance Simplified</h1>
	<p>A one-stop shop to understand everything around the basics of finance and investments</p>
</div>

<div class="content">
	<h4 id="howItWorks"> How it works: </h4>
	<div id="accordian">
		<h3>Find topic by tag or category</h3>
		<div>
			<p>Get an article-list using tags or categories</p>
		</div>
		<!--Add two more sections below!-->
		<h3>Find the article from the article-list</h3>
		<div>
			<p>From the article-list, find the article of choice</p>
		</div>
		<h3>Read, self-enlighten, share and grow!</h3>
		<div>
			<p>Enjoy the read and do your bit for the society and don't forget to share it with friends!</p>
		</div>
	</div>
</div>

<div class="content">
	<div id="firstChart" style="height: 60%; padding-top:5px;"></div>
</div>